@import "reset";

.list {
  margin-top: 13rem;
  width: 100%;
  color: $white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;

    &__number {
      margin-right: 10px;
      margin-top: 2px;

      position: relative;

      &::before {
        position: absolute;
        display: inline-block;
        top: 19px;
        width: 100%;
        height: 2px;
        content: "";
        background: $primary-blue;
      }
    }

    &__text {
      h3 {
        font-size: 1rem;
      }
      p {
        width: 150px;
        opacity: 0.67;
      }
    }
  }
}

.top__nav {
  background: $top-nav-bg;
  border-bottom: 1px solid $top-nav-border;

  height: 3rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
  }
  &__item {
    &:not(:first-of-type) {
      background: $top-nav-button-gray;
      margin-left: 1rem;

      display: flex;
      align-items: center;

      a {
        color: $primary-gray;

        &::before {
          content: "";
          display: inline-block;
          background-image: url("../assets/svg/mail.svg");
          background-size: cover;
          top: 7px;
          height: 15px;
          width: 15px;
        }
      }
      img {
        width: 13px;
      }
    }

    background: lighten($top-nav-button-green, $amount: 25);
    border-radius: 3px;

    a {
      color: $top-nav-button-text;
      padding: 7px 20px 7px 35px;
      display: inline-block;
      position: relative;

      font-size: 0.8rem;

      &:before {
        position: absolute;
        left: 12px;
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url("../assets/svg/phone-call.svg");
        background-size: cover;
        background-repeat: no-repeat;
        top: 9px;
      }
    }
  }
}

header {
  border-bottom: 1px solid $top-nav-border;
  .main__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4.5rem;
    &__group {
      display: flex;

      & > div {
        margin-top: 3.4rem;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          margin-left: 40px;

          a {
            color: $text;
          }
        }
      }
    }

    &__button {
      color: $primary-blue;
      background: lighten($primary-blue, $amount: 40);

      border-radius: 3px;

      padding: 10px 15px;
    }
  }
}

.hero {
  height: 40rem;
  background-image: url("../assets/img/hero-visual@2x.png");
  background-size: cover;

  position: relative;

  z-index: -2;

  &::before {
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    background: linear-gradient(
      to bottom,
      transparentize($hero-bg, $amount: 0.4),
      $hero-bg
    );

    position: absolute;
    top: 0;

    z-index: -3;
  }

  &__text {
    padding-top: 10rem;
    color: $white;

    position: relative;
    pointer-events: all;

    &__main {
      width: 570px;
      h1 {
        font-size: 2.4rem;
        font-family: STIXGeneral;
      }

      p {
        margin: 0.5rem 0 3rem;
        font-weight: 300;
      }
    }

    a {
      color: $white;
      border-bottom: 1px solid $white;
      &:nth-of-type(2) {
        margin-left: 2rem;
      }
    }
  }
}

.intro {
  height: 50rem;
  margin-top: 5rem;

  position: relative;

  border-bottom: 1px solid $gray;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../assets/svg/Dots-blue.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100%;
  }
  &__block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    height: 100%;

    position: relative;

    .text {
      margin: 2rem 0;

      font-size: 1.3rem;

      h1 {
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          background-image: url("../assets/svg/Dots-red.svg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 120px;
          height: 120px;
          top: -30px;
          left: -40px;

          position: absolute;
        }
      }

      p {
        color: $text-blue;
        line-height: 1.8;

        &:nth-of-type(1) {
          margin-top: 1rem;
        }
      }

      p:nth-of-type(2) {
        width: 850px;
        margin: 0 auto;
      }
    }

    &__links {
      a {
        color: $primary-blue;
        border-bottom: 1px solid $primary-blue;
        &:nth-of-type(2) {
          margin-left: 2rem;
        }
      }
    }
  }

  &__block__visual {
    height: 100%;
    padding-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &__image {
      justify-self: end;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, $white, transparent);
      }
      img {
        margin-right: 7rem;
        height: 100%;
      }
    }

    &__card {
      width: 400px;
      height: 280px;

      border-radius: 8px;

      overflow: hidden;

      display: grid;
      grid-template-rows: 1fr 1fr;

      &__item {
        padding: 20px 30px;
        display: inline-block;

        h2 {
          font-weight: lighter;
          margin-bottom: 1rem;
        }

        p,
        li {
          color: $text-blue;
        }

        li:not(:first-child) {
          margin-top: 1rem;
        }

        li:not(:last-of-type) {
          margin-right: 0.4rem;
        }

        &:nth-of-type(1) {
          background: $card-bg;
        }
        &:nth-of-type(2) {
          background: $card-bg2;
        }

        li {
          padding: 4px 8px;
          border: 1px solid $text-blue;
          border-radius: 18px;
          display: inline-block;
        }
      }
    }
  }
}

.services {
  margin-top: 8rem;
  border-bottom: 1px solid $gray;

  &__paragraph {
    margin: 1.5rem 0;

    width: 600px;
    line-height: 1.7;

    color: $text-blue;
  }

  &__container {
    p:nth-of-type(2) {
      position: relative;
      display: inline-block;

      margin-bottom: 2rem;

      font-size: 1.1rem;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 5px;
        right: -25px;
        width: 12px;
        height: 12px;

        background-image: url("../assets/svg/arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &__link {
    text-align: center;

    margin: 5rem 0;

    a {
      color: $primary-blue;
      border-bottom: 1px solid $primary-blue;
    }
  }

  .list {
    margin: 4rem 0 2rem;
    position: relative;
    z-index: 99;

    &::before {
      content: "";
      position: absolute;
      left: 210px;
      top: -25px;

      display: inline-block;
      width: 140px;
      height: 140px;

      background-image: url("../assets/svg/oval.svg");
      background-size: cover;
      background-repeat: no-repeat;

      z-index: -12;
    }

    &::after {
      content: "";
      position: absolute;
      right: -20px;
      top: -60px;

      display: inline-block;
      width: 120px;
      height: 120px;

      background-image: url("../assets/svg/Dots-red.svg");
      background-size: cover;
      background-repeat: no-repeat;

      z-index: -3;
    }
    &__item {
      padding: 20px 50px 20px 30px;

      box-shadow: 0 4px 2px -2px $gray;
      border: 1px solid $gray;
      border-radius: 3px;

      background: $white;
      &__number {
        color: $black;
      }

      &__text {
        h3 {
          color: $black;
        }
        p {
          color: $text-blue;
          margin-bottom: 1rem;
        }

        a {
          margin-top: 0;
          display: inline-block;
          color: $primary-blue;
          border-bottom: 1px solid $primary-blue;
        }
      }
    }
  }
}

.articles {
  margin-top: 8rem;
  &__container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
  }

  &__updates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;

    background: $articles-bg;

    padding: 30px;

    margin: 3rem 0;

    article {
      p:nth-child(3) {
        color: $text-blue;
        margin: 1rem 0 2rem;
      }

      h2 {
        font-family: STIXGeneral;
      }
    }
  }

  aside {
    margin-left: 3rem;
    ul {
      margin: 3rem 0;
      a {
        color: $text-blue;
        opacity: 0.7;
      }

      li {
        padding: 0 40px 25px 60px;
        border-bottom: 1px solid $top-nav-border;
        position: relative;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;

          width: 10px;
          height: 10px;

          background-image: url("../assets/svg/link.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: transparentize($primary-blue, $amount: 0.9);
          padding: 20px;

          border-radius: 100%;
        }
      }

      li:not(:nth-of-type(1)) {
        padding: 25px 60px;
      }
    }
  }
  .CTA {
    color: $primary-blue;
    border-bottom: 1px solid $primary-blue;
  }
}

.hero__footer {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero__text {
    padding-top: 0;
    &__main {
      width: 600px;
    }
  }
}

.footer {
  .logo {
    margin-top: -30px;
  }

  &__list {
    ul {
      li {
        margin: 0.8rem 0;
        &:first-of-type {
          font-weight: bold;
          font-size: 1.1rem;
        }

        a {
          color: $text-blue;
        }
      }
    }
  }
  &__list__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

    margin: 2rem 0;

    img {
      justify-self: end;
    }
  }

  footer {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 2rem 0;

      border-top: 1px solid $top-nav-border;

      color: $footer-text;
      opacity: 0.73;
    }
    .contact-details {
      ul {
        display: flex;
        li:not(:nth-of-type(1)) {
          margin-left: 2rem;
        }
      }
    }
  }
}
